PORT=3000
MONGO_URI=mongodb://root:1U43zD4mJ4WICJ2kbSnAKmqT3nSvuMshRyMBX5sUGZbNHG0ppwcuBcjnqG7oNuBc@76.13.53.253:5483/?directConnection=true&tls=true&tlsCAFile=/etc/mongo/certs/ca.pem # Local or Atlas
JWT_SECRET=d98d6c7acbcab39f80f04c87ad6d747d6ebf8a28321f94a0d95093a9d1e3b3ac
ADMIN_EMAIL=niangmamathyacine@gmail.com
ADMIN_PASSWORD=admin123
OPENAI_API_KEY=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
N8N_WEBHOOK_BASE_URL=https://centrale.app.n8n.cloud/webhook/relance-client
CORS_ORIGIN=*
NODE_ENV=development

